<div class="note_header">
    <div class="note_actions">
        <img src="static/if_note_370077.svg" alt="Edit" width="32" height="32" onclick="edit('{{note.id}}')">
        <img src="static/if_delete_370086.svg" alt="Archive" width="32" height="32" onclick="archive('{{note.id}}')">
    </div>
    <h2>{{note.title}}</h2>
    <p>{{note.date}}  {% if note.date != note.modified %}Modified: {{note.modified}}{% endif %}</p>
    <p>{% for tag in note.tags %}{{tag}} {% endfor %}</p>
</div>
<div id="note_body">
{{body}}
{% if note.backlinks %}
<div class="backlinks">
<h3>Referring notes:</h3>
{% for link in note.backlinks %}<a href="{{link.url}}">{{link.title}}</a><br/>{% endfor %}
</div>
{% endif %}
</div>
