/* Layout */

div#list_box 
{
	float: left;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
    height: 90%;
}

div#preview_pane {
    margin-left: 200px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #eef;
}

div#tag_box {
	clear: both;
	padding: 4px;
    height:auto;
}

div#filter_box 
{
	height: auto;
    padding: 4px;
	vertical-align: middle;
	border-bottom: 1px solid #eef;
	border-top: 1px solid #eef;
}

fieldset {
    border: 1px;
    padding: 0;
}
/* Styling */

html, body {
    height: 100%;
    margin: 0;
    background: #fefefe;
    color: #080808;
    font: 12px "Trebuchet MS", Helvetica, sans-serif;
}


div.note_header {
    text-align:left;
	background-color: #fefefe;
    border:none;
    padding:0;
	border-bottom: 2px solid #88f;
}

.note_info {
    padding:0;
    list-style-type: none;
}

div.note_actions {
    float:right;
}

.note_header h2, p, .tags {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

div.backlinks {
	background-color: #fefefe;
    border:none;
    padding:0;
	border-top: 2px solid #88f;
	padding-bottom: 1em;
}

.zk code, pre {
	font-size: 11;
	font-family: "Menlo", "Monaco", "Courier New", monospace;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

.zk pre {
	background-color: #f0f0f0;
	border: 1px solid #888;
	padding: 10px 10px 10px 20px;
}


.zk h1 {
	font-size: 18px;
	font-weight: bold;
}

.zk h2 {
	font-size: 16px;
	font-weight: bold;
}


.zk h3 {
	font-size: 14px;
	font-weight: bold;
}

.zk h4  {
	font-size: 14px;
	font-weight: bold;
}

.zk blockquote {
	border-left: 4px solid #88f;
	font-style: italic;
	margin: 1em 25px;
	padding-left: 1em;

}

.zk img {
    max-width: 50%;
    max-height: 300px;
    transition: 0.25s;
}

.zk img:hover {
    transform: scale(2);
    transition-delay:1s
}

a {
 	text-decoration: none;	
}

a.item {
    background-color: inherit;
	display: block;
	padding: 4px;
	border-right: 1px solid #eef;
	border-bottom: 1px solid #eef;
  	text-decoration: none;
}

.anfang {
  	color: #33a;
}

.tags {
    
}


.tag {
    font-size: 10px;
    /*font-family: "Trebuchet MS";*/
    border-radius: 3px;
    padding: 2px;
	background-color: #eee;
	color: #000;
}

.tiptext {
  color: #069;
  cursor: pointer;
}

iframe.peek {
  display: none;
  /* scale: 1.0; */
  /* zoom: 50%; */
  position: absolute;
  border: 1px solid #000;
  margin: 5%;
  width: 600px;
  height: 400px;
}
