<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>
            Zettelkasten Notes
        </title>
        <!--base href="file:///Users/per/Source/Zettelkasten.tmbundle/Support/lib/"-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='zk2.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='zk2.js') }}" ></script>
    </head>    
    <body onload="reset()">
        <!-- =========== -->
        <!-- = TAG BOX = -->
        <!-- =========== -->
        <div id="tag_box" class="tags">
        </div>
        <!-- ============== -->
        <!-- = FILTER BOX = -->
        <!-- ============== -->
        <div id="filter_box">
            <fieldset>
                Filter notes: <input type="search" id="search" {% if filter_value %}value="{{filter_value}}"{% endif %} oninput="filter()" onsubmit="filter()">
                <!-- <span id="results"> </span> -->
                Sort order: 
                <input id="date_option" type="radio" name="sort_option" value="date" onchange="filter();" checked>Date 
                <input id="modified_option" type="radio" name="sort_option" value="modified" onchange="filter();">Modified 
                <input id="title_option" type="radio" name="sort_option" value="title" onchange="filter();">Title 
                <input id="reversed_option" type="checkbox" name="reversed_option" value="reversed" onchange="filter();" checked>Reversed 
            </fieldset>    
        </div>
        <!-- ============ -->
        <!-- = LIST BOX = -->
        <!-- ============ -->
        <div id="list_box">
        </div>
        <!-- =============== -->
        <!-- = PREVIEW BOX = -->
        <!-- =============== -->
        <div id="preview_box">
            <div id="preview_pane" class="zk">
            </div>
        </div>
    </body>
</html>
