pre.sourceCode {
    background-color: #fdf6e3;
    color: #586e75;
}

code span.al { color: #dc322f; font-weight: bold; }
code span.an { color: #93a1a1; font-style: italic; }
code span.at { color: #93a1a1; }
code span.bn { color: #d33682; }
code span.bu { color: #b58900; }
code span.cf { color: #6c71c4; font-weight: bold; }
code span.ch { color: #cb4b16; }
code span.cn { color: #cb4b16; }
code span.co { color: #93a1a1; }
code span.cv { color: #93a1a1; }
code span.do { color: #93a1a1; font-style: italic; }
code span.dt { color: #268bd2; font-weight: bold; }
code span.dv { color: #d33682; }
code span.er { color: #dc322f; font-weight: bold; }
code span.ex { }
code span.fl { color: #d33682; }
code span.fu { color: #268bd2; font-weight: bold; }
code span.im { color: #6c71c4; font-weight: bold; }
code span.in { color: #93a1a1; font-style: italic; }
code span.kw { color: #6c71c4; font-weight: bold; }
code span.op { color: #6c71c4; font-weight: bold; }
code span.ot { }
code span.pp { color: #b58900; font-weight: bold; }
code span.sc { color: #2aa198; }
code span.ss { color: #d33682; }
code span.st { color: #6F7F01; }
code span.va { color: #6c71c4; }
code span.vs { color: #6F7F01; }
code span.wa { color: #dc322f; font-weight: bold; }